.vb{
    background-color: red;
}
.rm{
    background-color: yellow;
}
.sharuk{
    background-color: blue;
}
.rg{
    background-color: green;
}
.priya{
    background-color: gold;
}
#modi{
    background-color: aqua;
}
section{
    background-color: brown;
}